[submodule "libs/Lisboa5LastFM"]
	path = libs/Lisboa5LastFM
	url = https://github.com/AxelFontana/Lisboa5
[submodule "libs/Lisboa5NYTimes"]
	path = libs/Lisboa5NYTimes
	url = https://github.com/JCRossi/AyDSNewYork2-NYTimes.git
