.gradle
/local.properties
# IntelliJ Files
.idea/
*.iml
*.iws
*.ipr
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
#Archivos gradle
build.gradle
gradle.properties
gradle/wrapper/gradle-wrapper.properties
observer/build.gradle
